##**********************************************
##               基本设置
##**********************************************
# 是否开启字符集转换功能
#   默认值 on
enable_encoding=on

# 大小写是否敏感
#   默认值为FALSE（不敏感） 
name_case_sensitive=FALSE

# 错误信息输出语言是否为中文
#   默认值为TRUE（中文） ，FALSE（英文）
chinese_errorinfo=TRUE

# 驱动是否直接使用旧协议
#   默认值 off
compatible_old_protocal=off

# 驱动是否直接发送旧的启动包
#   默认值 off
send_old_startup_packet=off

##**********************************************
##               日志配置
##**********************************************
# 日志文件路径
#   默认值 '' 默认路径日志输出到当前应用程序执行目录下
trace_file_path=''

# 调试信息打印级别
#   可选值： 
#     0 不打印；
#     1 打印驱动基本信息；
#     2 打印顶层接口、参数信息及返回值；
#     4 打印底层接口、参数信息及返回值；
#     8 打印详细网络协议信息；
#     上述可选值可累加使用，比如 3 表示 打印SQL语句和函数调用
#   默认值 0
trace_level=0

# 日志记录大小上限
#    默认值 20 最大不超过2000 最小值为1（单位：Ｍ）
aci_trace_log_maxsize=20

##**********************************************
##               数据相关设置
##**********************************************
# 不带参数的prepare语句是否可以直接走query协议执行sql语句
#    默认值 on
prepare_simple_execute=on

# 数据格式是采用字符串方式传输还是采用协议的方式传输
#    默认值 off
net_data_by_str=off

# 小数的类型，如float、double、numeric、decimal是否按字符串格式传输
#    默认值 on
send_floatingnumber_keep_precision=on

# 一次从数据库获取的结果集行数
#   最大值 5000
#   最小值 0
#   默认值 16
fetch_size = 16

# 批量执行的缓存大小（单位：MB）
#   最大值 1024
#   最小值 1
#   默认值 10
batch_buffer=10

# 普通execute语句一次执行次数达到多少可以走batch协议
#   最大值 5000
#   最小值 1
#   默认值 100
execute_batch_size=100

# 数据包达到多大可以使用压缩。应当在调用ACISessionBegin之前进行设置。
#   最大值 0x7FFFFFFF
#   最小值 50
#   默认值 50
compress_min_size=50

##**********************************************
##               连接设置
##**********************************************
# socket连接等待超时时间（单位：秒）
#   最小值 0（无限等待）
#   默认值 60
socket_connect_timeout = 60

# 网络重连次数，重试失败后会间隔1秒后重试，用于控制网络连接成功后再断掉的情况。
#   默认值 0
reconnect_timeout=0

# socket连接操作时的连接方式
#    默认值 FALSE（非阻塞连接）
socket_block_conn = FALSE

# socket读写等待超时时间（单位：毫秒）
#   最小值 0（无限等待）
#   默认值 0
call_timeout = 0

# 连接时是否使用socket mark
#   默认值为FALSE（不使用） ，TRUE（使用）
sockmark=FALSE

# 创建socket后的设置的mark，sockmark参数为true时生效；空串不生效
#   默认值为 007F000001E30401000000000000
sockmark_aftersocket=007F000001E30401000000000000

# 设置socket的扩展属性名称
#   默认值为 
sockmark_name='security.secmark'

# 调用connect后的设置的mark，sockmark参数为true时生效；空串不生效
#   默认值为 007F000001E30401000000000001
sockmark_afterconnect=007F000001E30401000000000001

##**********************************************
##               keepalive设置
##**********************************************
# 是否开启keepalive功能
#   默认值 on
keepalive_on=on

# 对一个连接进行有效性探测之前运行的最大非活跃时间间隔
#   最大值 0x7FFFFFFF
#   最小值 60
#  默认值 300
keepalive_idle=300

# 两个探测的时间间隔
#   最大值 0x7FFFFFFF
#   最小值 1
#   默认值 75
keepalive_interval=75

# 关闭一个非活跃连接之前进行探测的最大次数
#   最大值 100
#   最小值 5
#   默认值 9
keepalive_count=9

##**********************************************
##               读写分离设置
##**********************************************
# 是否开启语句分发功能
#   默认值 off
enable_dispatch=off

# Mpp数据导入功能中待加载节点数，只在与MPP建立连接时该参数才起作用
#   默认值 0
mpp_loadnodenum=0

# LSN是否发到备机，开启该参数备机需等待与主机相关事务进行同步，只在enable_dispatch为on时起作用
#   默认值 off
send_lsn_to_slave=off

# 分发到主机的语句所占比例，只在enable_dispatch为on时起作用
#   最大值 100
#   最小值 -1   
#   默认值 -1(主机与备机平均分配)
host_percentage_of_statement=-1

# 读操作是否可以分发到异步备机，即不开启数据强同步SYNCHRONIZED = FALSE的节点，只在enable_dispatch为on时起作用
#   默认值 off
use_asynchronous_slave=off